DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_DIALECT=mysql
DB_SSL=true
NODE_ENV=production
PORT=3036

# Telegram Bot Configuration (Optional)
# Get your bot token from @BotFather on Telegram
# Get your chat ID from @userinfobot on Telegram

# TELEGRAM_BOT_TOKEN=8030148725:AAFPI7aynOdfS24otODtR0vfnBSN_H-ETNc
# TELEGRAM_CHAT_ID=788846523

# DB_HOST=mysqlhosting-invetoryims.a.aivencloud.com
# DB_PORT=21809
# DB_USER=avnadmin
# DB_PASSWORD=AVNS_rsd-Y276k5I9huGuEVB
# DB_NAME=defaultdb
# DB_DIALECT=mysql
# DB_SSL=true
# NODE_ENV=production
