DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_DIALECT=mysql
DB_SSL=true
NODE_ENV=production
PORT=3036

DB_HOST=mysqlhosting-invetoryims.a.aivencloud.com
DB_PORT=21809
DB_USER=avnadmin
DB_PASSWORD=AVNS_rsd-Y276k5I9huGuEVB
DB_NAME=defaultdb
DB_DIALECT=mysql
DB_SSL=true
NODE_ENV=production
